// Options
$debug: true; // Enable or disable debug-mode global

// Mixin
@mixin $debug_color(debug_background: false, debug_outline: false) {
    
    $debug_background_color: deepskyblue;
    $debug_outline-color: deeppink;
    
    @if $debug and $debug_background and $debug_outline {
        background-color: $debug_background_color;
        outline: 1px solid $debug_outline-color;
    }
    @if $debug and $debug_background {
        background-color: $debug_background_color;
    }
    @if $debug and $debug_outline {
        outline: 1px solid $debug_outline-color;
    }
}

* {
    @include $debug_color(true, true); // apply dev debugging
}
